body{
    background-color: rgba(0, 0, 0, 0.881);
    color:white;
    border: 2px rgba(245, 176, 47, 0.742) solid;
    /* height: 100vh; */
}
header{
    color: white;

}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6%;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a{
    font-size: xx-large;
    color:rgba(245, 176, 47, 0.742);
}
main{
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border: 2px rgba(245, 176, 47, 0.742) solid;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20%;
    
}

h1{
    font-size: xx-large;
    color: white;
}
h2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: x-large;
    color: rgba(245, 176, 47, 0.742);
    margin: 0%;
    align-items: center;
    align-content: center;
    text-decoration: 1px underline;
}
h3{
    font-size: x-large;
    color:rgba(245, 176, 47, 0.742);
    margin: 5%;
}

a{
    color:rgba(245, 176, 47, 0.742);
    text-decoration: none;
}
p{
    margin: 0%;
    color: white;
    font-size: 17px;
}
form{
    display: flex;
    flex-direction: column;
 }

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    text-align: right;
  }


.bouton{
    background-color: rgba(245, 176, 47, 0.742);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10% 0% 10% 0%;
}

footer{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgba(245, 176, 47, 0.742);

}
footer a{
    font-size: xx-large;
}



/* FOCUS PARTIE*/

h2 img{
height: 50px;
width: 50px;
margin: 0% 2% 2% 0%;
border-radius: 50%;
}

#editelement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
}
 

.editelement{
    margin-top:10%;
}

.message{
    width: 75%;
    display: inline;
    margin: 3%;
}
#message{
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
#message a{
    font-family: 'Roboto', sans-serif;
    position: fixed;
}



#modified a{
    /* width: 20%; */
    /* height: auto; */
    /* background-color: rgba(0, 0, 0, 0.66)55; */
    /* color:rgba(245, 176, 47, 0.742); */
    position: static;
    text-align: end;
    border: none;
}
.repondre{
    background-color: rgba(245, 176, 47, 0.742);
    color: rgb(255, 255, 255);
     padding: 10px 30px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.reponse{
    margin: 5%;
}
@media screen and (max-width: 768px){
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 4%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    nav a{
        font-size: 20px;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 17px;
        
    }
    label{
        text-align: left;

    }
    form{
       display: flex;
       flex-direction: column;
    }
    footer{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
    
    }
    footer a,p{
        font-size: 15px;
    }
    .bouton{
        text-align: center;
        padding: 5%;
        width: 80%;
    }
    .editelement input{
        
        width: 80%;
    }
    
    .editelement{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    h2{
        font-size: 14px;
        
    }
    label {
        font-size: 14px;
        display: inline-block;
        text-align: left;
      }    
    footer a,p{
        font-size: 12px;
    }
    
    .bouton{
        text-align: center;
        padding: 5%;
        width: 80%;
    }
    .editelement input{
        
        width: 80%;
    }
    
    #message{
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        /* justify-content: flex-start; */
    }
    #message a{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        position: relative;
        width: 100%;
        margin: 0% 0% 5% 0%;
    }

    .editelement{
        display: flex;
        flex-direction: column;
    }
    .editelement label{
        font-size: 10px;
    }
}
    
    /* MEDIA QUERY POUR MOBILE */
    @media screen and (max-width: 376px){
        h2{
            font-size: 10px;
            
        }

        p{
            font-size: 9px;
        }
    }
    